[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
indent_size = 2
indent_style = tab

[*.nix]
# Nix has a bug that when multiline string uses tab for indent they are not
# stripped (dedent does not work with tab indentation)
# https://github.com/NixOS/nix/issues/3759
indent_style = space
